body{
    width: 430px;
}

.landscape > img{
    border-radius: 10px;
background: #000;
mix-blend-mode: darken;
width: 336px;
height: 223px;
flex-shrink: 0;
object-fit: contain;
}

.aboutcontainer{
    margin: 0;
}

.aboutcard{
    background: #f6f6f6;
    color: #ff6060;
    border-radius: 10px;
}

.aboutcard > div{
   margin: 20px 0;
}

.container{
    display: flex;
    flex-direction: column;
}