.banner{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    & > img{
        border-radius: 10px;
    background: #000;
    mix-blend-mode: darken;
    width: 98%;
    height: 225px;
    flex-shrink: 0;
    object-fit: cover;
    }
}

.aboutcontainer{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.aboutcard{
    background: #f6f6f6;
    color: #ff6060;
    border-radius: 10px;
    margin-bottom: 20px;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 451px){
    .container{
        margin: 0 10%;
    }
    
    .banner{
        margin: 2% 0;
    }

    .aboutcontainer{
        margin: 2% 15%;
    }
}