.appartcard{
    position: relative;
    list-style: none;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.appartitemtitle{
    position: absolute;
    left: 20px;
    top: 80%;
    color: red;
}

.appartitemcover{
    width: 335px;
height: 255px;
flex-shrink: 0;
background: linear-gradient(#FF6060, #fff);
justify-content: center;
}