a{
    text-decoration: none;
}

@import "@fontsource/montserrat";

body{
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.bannercontainer{
    position: relative;
}

.bannerimg > img{
    width: 98%;
    height: 145px;
    object-fit:cover;
    border-radius: 16px;
}

.bannertitle{
    position: absolute;
    color: #fff;
    top: 40%;
    left: 30px;
    font-size: 24px;
    width: 220px;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.appartlistcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 0;
}

ul{
    list-style: none;
    padding-left: 0;
}