a{
    text-decoration: none;
}

@import "@fontsource/montserrat";

body{
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    margin-top: 8px;
}

.bannercontainer{
    position: relative;
}

.banner{
    background: #000;
    opacity: 30%;
    mix-blend-mode: darken;
}

.bannerimg > img{
    width: 100%;
    height: 111px;
    object-fit: cover;
    border-radius: 16px;
    mix-blend-mode: darken;
}

.bannertitle{
    position: absolute;
    color: #fff;
    top: 40%;
    left: 30px;
    font-size: 24px;
    width: 220px;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.appartlistcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appartlist{
    list-style: none;
    padding-left: 0;
}

@media screen and (min-width: 451px){
    .container{
        margin: 25px 10% 0 10%;
    }

    .bannertitle{
        font-size: 40px;
        left: 30%;
        top: 35%;
        width: 100%;
    }

    .appartlistcontainer{
        flex-direction: row;
        background-color: #f6f6f6;
        padding: 30px;
        border-radius: 18px;
    }

    .appartlist{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .bannerimg > img{
        height: 223px;
    }
}