.titlecontainer{
    display: flex;
    justify-content: space-between;
    background: #ff6060;
    border-radius: 10px;
    padding: 0 12px;
    margin: 0; 
    & img{
        height: 32px;
        width: 32px;
        object-fit: contain;
    }
    & h2{
        background: #FF6060;
        margin: 4px 4px;
        color: #fff;
    }
}

.hidden{
    display: none;
}

.dropdown > img{
    width: 24px;
    height: 10px;
}

.content{
    background: #f6f6f6;
    color: #ff6060;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 16px;
    & h2{
        background: #ff6060;
        color: #fff;
        border-radius: 10px;
    }
}