.headercontainer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 20px;
    & nav{
        display: flex;
        flex-direction: space-evenly;
        align-items: center;
        &  a{
            margin: 10px 10px ;
            text-decoration: none; 
            color: #FF6060;
        }
    }
}

.link > a{
    font-size: 12px;
}

.logoheader{
    width: 150px;
    height: 50px;
}

.navlinks a.active{
    text-decoration: underline;
}


@media screen and (min-width: 451px){
    .headercontainer{
        justify-content: space-between;
        margin: 0 10%;
    }

    .navlinks{
        margin-right: 10%;
    }
    
    .link > a{
        font-size: 24px;
    }
}
