.carousel{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.prev{
    position: absolute;
    height: 48px;
    width: 48px;
    top: 116px;
}

.next{
    position: absolute;
    height: 32px;
    width: 28px;
    top: 116px;
    right: 10px;
}

.number{
    color: black;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.hidden{
    display: none;
}

.cover{
    height: 255px;
    border-radius: 18px;
    object-fit: cover;
}

.carousel{
    margin-top: 30px;
}

@media screen and (min-width: 451px){
    .cover{
        width: 100%;
        height: 415px;
    }

    .carousel{
        margin-top: 60px;
    }

    .prev{
        width: 96px;
        height: 120px;
        top: 169px;
    }

    .next{
        width: 46px;
        height: 79px;
        top: 169px;
    }
}