.equipments{
    background: #f6f6f6;
    color: #ff6060;
    border-radius: 10px;
    
    & h2{
        background: #ff6060;
        color: #fff;
        border-radius: 10px;
    }
}

.description{
    background: #f6f6f6;
    color: #ff6060;
    border-radius: 10px;
    margin-bottom: 18px;
    & h2{
        background: #ff6060;
        color: #fff; 
        border-radius: 10px;
    }
}

.equipments > div {
    display: flex;
    flex-direction: column;
}

.details{
    display: flex;
    flex-direction: column;
}

.title{
    color: #ff6060;
}

.location{
    color: #ff6060;
    font-size: 24px;
}

.container{
    margin: 0;
}

@media screen and (min-width: 451px){
    .details{
        flex-direction: row;
        justify-content:space-between;
        & > div{
            width: 40%;
        }
    }
    
    .container{
        display: flex;
        flex-direction: column;
        max-width: auto;
        margin: 0 10%;
    }
    
    .title{
        margin-bottom: 0;
    }

    .location{
        font-size: 18px;
    }
}