.equipmentscontainer{
    background: #f6f6f6;
    color: #ff6060;
    border-radius: 10px;
    
    & h2{
        background: #ff6060;
        color: #fff;
        padding: 12px 18px;
        border-radius: 10px;
    }
}

.descriptioncontainer{
    background: #f6f6f6;
    color: #ff6060;
    border-radius: 10px;
   
    & h2{
        background: #ff6060;
        color: #fff; 
        padding: 12px 18px;
        border-radius: 10px;
    }
}

.description{
    padding: 12px 18px;
}