.equipments{
    background: #f6f6f6;
    color: #ff6060;
    border-radius: 10px;
    
    & h2{
        background: #ff6060;
        color: #fff;
        border-radius: 10px;
    }
}

.description{
    background: #f6f6f6;
    color: #ff6060;
    border-radius: 10px;
    margin-bottom: 18px;
    & h2{
        background: #ff6060;
        color: #fff; 
        border-radius: 10px;
    }
}

.equipments > div {
    display: flex;
    flex-direction: column;
}

.title{
    color: #ff6060;
}

.location{
    color: #ff6060;
    font-size: 24px;
}