.container{
            color: #FF6060;
            display: flex;
            flex-direction: column;
            text-align: center;
            flex-grow: 1;
    & h1{
font-size: 160px;
font-style: normal;
font-weight: 700;
margin-bottom: 0;
    }
    & h2 {
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 142.6%;
margin-top: 0;
margin-bottom: 160px;
    }
}

.backhome{
    color: #ff6060;
    text-decoration: underline;
    & > a:visited{
        color: #ff6060
    }
}

@media screen and (min-width: 451px){
    .container h1{
        font-size: 288px;
    }
}